STAGING_INFURA_URL=https://YOUR_NODO
ETHERSCAN_API=777
PRIVATE_KEY=777777777777
#GAS REPORTER
DOLAR_GAS=USD
GAS_KEY= 777777777777
TOKEN = BNB
API_GAS = https://api.bscscan.com/api?module=proxy&action=eth_gasPrice
